{% extends "layout.html" %}

{% block title %}400{% endblock %}

{% block style %}
    <style>
        #footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="main">
        <div class="container">
            <div class="page-error">
                <h1>400</h1>
                <h2>That's an error!</h2>
                <p>Bad request!</p>
                <a class="btn btn-ada-dark" href="/">Back to Home</a>
            </div>
        </div>
    </div>
{% endblock %}