{% extends "layout.html" %}

{% block title %}{{ _('Blog') }}{% endblock %}

{% block style %}
    <style>
        #main {
            min-height: 400px;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="main">
        <div class="container">
            <div id="posts" class="row">

                <!-- left start -->
                <div class="col-md-8">
                    <div class="row">
                        {% for p in posts %}
                            <div class="col-md-12">
                                <div class="card post">
                                    <div class="media mb-10">
                                        <div class="media-left">
                                            <a href="javascript:;">
                                                {% if p.author.head %}
                                                    <img class="media-object post-author-head"
                                                         src="{{ p.author.head }}">
                                                {% else %}
                                                    <i class="fa fa-user"></i>
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <span class="media-heading post-tag">
                                                {% for t in p.tags %}
                                                    #{{ _(t.name) }}
                                                {% endfor %}
                                            </span>
                                            <a class="post-title"
                                               href="{{ url_for('blog.post', post_id=p._id) }}">{{ p.title }}</a>
                                        </div>
                                    </div>
                                    <div class="post-body mb-10">
                                        {{ p.body|truncate(300) }}
                                    </div>
                                    <span class="post-date clearfix">
                                        <i class="fa fa-clock-o"></i> {{ p.createTime|timesince }}
                                        <i class="fa fa-eye pl-10"></i> {{ p.viewTimes }}&nbsp;{{ _('views') }}
                                    </span>
                                </div>
                            </div>
                        {% else %}
                            <div class="card">
                                <h2>{{ _('No posts found!') }}</h2>
                            </div>
                        {% endfor %}
                    </div>
                    {% if pagination.pages > 0 %}
                        <div class="text-center">
                            <ul class="pagination" style="margin-bottom:20px;">
                                {% if pagination.has_prev %}
                                    <li><a href="{{ page_base }}?p={{ pagination.page - 1 }}"><</a></li>
                                {% endif %}
                                {% for page in pagination.iter_pages() %}
                                    {% if page %}
                                        {% if page != pagination.page %}
                                            <li><a href="{{ page_base }}?p={{ page }}">{{ page }}</a></li>
                                        {% else %}
                                            <li class="active">
                                                <a href="javascript:;">{{ page }}<span class="sr-only">(current)</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% else %}
                                        <li><a href="javascript:;">...</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if pagination.has_next %}
                                    <li><a href="{{ page_base }}?p={{ pagination.page + 1 }}">></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <!-- left end -->

                <!-- sidebar start -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="tags">
                            <h3>{{ _('Tags') }}</h3>
                            <a href="/blog/index" class="btn btn-ada-dark btn-tag">#{{ _('All') }}</a>
                            {% for t in tags %}
                                <a href="/blog/index?t={{ t._id }}"
                                   class="btn btn-ada-dark btn-tag">#{{ _(t.name) }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% if current_user.is_admin %}
                        <div class="block clearfix">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{ _('Admin:') }}</div>
                                <div class="panel-body">
                                    <a href="/crud/index/post" target="_blank">{{ _('Add post') }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- sidebar end -->

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            //
        });
    </script>
{% endblock %}

