{% extends "layout.html" %}

{% block title -%}
    {{ post.title }}
{%- endblock %}

{% block main %}
    <div id="main">
        <div class="container">
            <div class="row">
                <!-- left start -->
                <div class="col-md-8">
                    <div class="card single-post">
                        <span class="post-tag">
                            {% for t in post.tags %}
                                #{{ _(t.name) }}
                            {% endfor %}
                        </span>
                        <h2 class="post-title">{{ post.title }}</h2>
                        <hr>
                        <div class="post-body nl2br">{{ post.body }}</div>
                        {% if post.pics %}
                            <div class="post-pics">
                                {% for p in post.pics %}
                                    <a><img src="{{ p }}"></a>
                                {% endfor %}
                                <span class="clearfix"></span>
                            </div>
                        {% endif %}
                        <span class="post-date">
                            <i class="fa fa-clock-o"></i> {{ post.createTime|timesince }}
                            <i class="fa fa-eye pl-10"></i> {{ post.viewTimes }}&nbsp;{{ _('views') }}
                        </span>
                    </div>

                    <div class="card">
                        <h3 id="h3-comments">{{ _('There are totally %(count)s comments', count=post.comments|length) }}</h3>
                        <hr>
                        {% for c in post.comments %}
                            <div class="media comment mb-20">
                                <div class="media-left">
                                    <a href="javascript:;">
                                        {% set user = user_dict[c.uid] %}
                                        {% if user and user.head %}
                                            <img class="media-object comment-user-head"
                                                 src="{{ user.head }}">
                                        {% else %}
                                            <i class="fa fa-user"></i>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a href="javascript:;"
                                       class="media-heading comment-user-name">{{ user.name if user else '-' }}</a>
                                    <p class="comment-content">{{ c.content }}</p>
                                    <div>
                                        <span class="comment-date">{{ c.time|timesince }}</span>
                                        <a href="javascript:;" class="pull-right" onclick="toggleReply($(this))">
                                            <i class="fa fa-reply"></i> {{ _('Reply') }}
                                        </a>
                                        <div class="well well-sm mt-10 reply-form" style="display:none">
                                            <input class="form-control input-sm"/>
                                            <a href="javascript:;" onclick="reply($(this))"
                                               cid="{{ c.id }}" rid="{{ c.uid }}">{{ _('Submit') }}</a>
                                        </div>
                                        <hr>
                                        {% for r in c.replys %}
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="javascript:;">
                                                        {% set user = user_dict[r.uid] %}
                                                        {% if user and user.head %}
                                                            <img class="media-object comment-user-head"
                                                                 src="{{ user.head }}">
                                                        {% else %}
                                                            <i class="fa fa-user"></i>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <a href="javascript:;"
                                                       class="media-heading comment-user-name">{{ user.name if user else '-' }}</a>
                                                    {{ _('replys') }}
                                                    {% set ruser = user_dict[r.rid] %}
                                                    <a href="javascript:;"
                                                       class="media-heading comment-user-name">{{ ruser.name if ruser else '-' }}</a>
                                                    <p class="comment-content">{{ r.content }}</p>
                                                    <div>
                                                        <span class="comment-date">{{ r.time|timesince }}</span>
                                                        <a href="javascript:;" class="pull-right"
                                                           onclick="toggleReply($(this))">
                                                            <i class="fa fa-reply"></i> {{ _('Reply') }}
                                                        </a>
                                                        <div class="well well-sm mt-10 reply-form" style="display:none">
                                                            <input class="form-control input-sm"/>
                                                            <a href="javascript:;" onclick="reply($(this))"
                                                               cid="{{ c.id }}" rid="{{ r.uid }}">{{ _('Submit') }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <h3 class="mt-20">{{ _('Leave a comment') }}</h3>
                        <div>
                            <textarea class="form-control mb-10" rows="3"></textarea>
                            <button class="btn btn-ada-dark btn-sm"
                                    onclick="comment($(this))">{{ _('Submit') }}</button>
                        </div>
                    </div>
                </div>
                <!-- left end -->

                <!-- sidebar start -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="tags">
                            <h3>{{ _('Tags') }}</h3>
                            <a href="/blog/index" class="btn btn-ada-dark btn-tag">#{{ _('All') }}</a>
                            {% for t in tags %}
                                <a href="/blog/index?t={{ t._id }}"
                                   class="btn btn-ada-dark btn-tag">#{{ _(t.name) }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% if current_user.is_admin %}
                        <div class="block clearfix">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{ _('Admin:') }}</div>
                                <div class="panel-body">
                                    <a href="/crud/change/post/{{ post._id }}" target="_blank">{{ _('Edit post') }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- sidebar end -->

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".nl2br").each(function (i, n) {
                text = $(n).text();
                $(n).html(Html.nl2br(text));
            });
        });

        function comment(btn) {
            if (btn.is(".doing")) {
                return;
            }
            var con = window.confirm("{{ _('Sure to submit this comment?') }}");
            if (!con) {
                return false;
            }

            btn.addClass("doing");
            var method = btn.is("input") ? "val" : "text";
            var oldLabel = btn[method]();
            btn[method](oldLabel + "...");

            $.post("/blog/comment/{{ post._id }}", {
                "r": Math.random(),
                "content": btn.prev("textarea").val()
            }, function (result) {
                if (result.success) {
                    showSuccess(result.message)
                    location.hash = "#h3-comments";
                    location.reload();
                } else {
                    showError(result.message)
                }
                btn.removeClass("doing");
                btn[method](oldLabel);
            }, 'json');
        }

        function toggleReply(btn) {
            var form = btn.next(".reply-form");
            form[form.is(':hidden') ? "show" : "hide"]();
        }

        function reply(btn) {
            if (btn.is(".doing")) {
                return;
            }
            var con = window.confirm("{{ _('Sure to submit this reply?') }}");
            if (!con) {
                return false;
            }

            btn.addClass("doing");
            var method = btn.is("input") ? "val" : "text";
            var oldLabel = btn[method]();
            btn[method](oldLabel + "...");

            $.post("/blog/reply/{{ post._id }}/" + btn.attr("cid"), {
                "r": Math.random(),
                "content": btn.prev("input").val(),
                "rid": btn.attr("rid")
            }, function (result) {
                if (result.success) {
                    showSuccess(result.message)
                    location.reload();
                } else {
                    showError(result.message)
                }
                btn.removeClass("doing");
                btn[method](oldLabel);
            }, 'json');
        }
    </script>
{% endblock %}

