{% extends "layout.html" %}

{% block title %}{{ _('Contact') }}{% endblock %}

{% block style %}
    <style>
        #main {
            min-height: 400px;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12  text-center">
                    <h1>
                    </h1>
                    <h3>{{ _('Feel free to contact us if any queries, contributions or copyright issues.') }}</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}